body {
  background-color: lightblue;
}

#main-nav {
  background-color: yellow;
  margin:0;
  margin-top: 0;
}

ul {
  display: inline-block;
}

#main-loggedin {
  margin:0;
}

#home-link {
  margin:0;
}

#trip-form {
  border: 5px solid black;
  padding: 10px;
  width: 30%;
}

#trip-list {
  width: 30%;
  border: 5px solid black;
}

.existing-trip {
  width: 20%;
  border: 5px solid black;
}

#existing-newTrip {
  width: 20%;
  border: 5px solid black;
}
