body {
  background-color: lightblue;
}

#main-nav {
  background-color: yellow;
  margin:0;
  margin-top: 0;
}

ul {
  display: inline-block;
}

#main-loggedin {
  margin:0;
}

#home-link {
  margin:0;
}
